overrides/crash-reports/
overrides/backups/
overrides/ldlib/
overrides/logs/
overrides/local/
overrides/modernfix/
overrides/saves/
overrides/screenshots/
overrides/shaderpacks/
overrides/.vscode/
overrides/*-natives/
overrides/natives-*/
overrides/coremods/
overrides/server-resource-packs/
overrides/texturepacks/
overrides/simplebackups/
overrides/xaero*/
overrides/log4j2.xml
overrides/servers.dat
overrides/rhino.local.properties
overrides/servers.dat_old
overrides/usercache.json
overrides/usernamecache.json
overrides/*.jar
overrides/*.json
overrides/config/oculus.properties
overrides/config/roughlyenoughitems/
overrides/kubejs/jsconfig.json
overrides/kubejs/config/probejs.json
overrides/kubejs/README.txt
overrides/gtceu/
overrides/defaultconfigs/ftblibrary/
overrides/defaultconfigs/ftbquests/
overrides/defaultconfigs/ftbultimine/ftbultimine-client.snbt
overrides/defaultconfigs/ftbxmodcompat/
overrides/icon.png
.DS_Store
